.speakers-wrapper {
  background-color: #f6f6f6;
  padding: 14px;
  
  .speakersInput {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: var(--color_text_light);
    border: 1px solid var(--color_primary);
    border-radius: 4px;
    height: 40px;
    input {
      border: none;
      background-color: transparent;
      font-size: 14px;
      padding: 0 15px;
      width: 100%;
      &::placeholder {
        color: #8e8e8e;
      }
      &:focus {
        outline: none;
        &::placeholder {
          color: var(--color_text_dark);
        }
      }
    }
    i {
      font-size: 18px;
      padding: 10px 15px 0 0;
      color: #8e8e8e;
      &.focus {
        color: var(--color_text_dark);
      }
    }
  }

  .speakers-dropdown {
    margin-top: 4px;
    background-color: var(--color_text_light);
    border: 1px solid var(--color_text_light);
    border-radius: 4px;
    max-height: 156px;
    overflow: auto;
    box-shadow: 0 8px 10px rgba(0,0,0,0.25);

    .speaker {
      padding: 6px;
      display: flex;
      align-items: center;
      height: 39px;
      cursor: pointer;
      &:not(:last-of-type) {
        border-bottom: 1px solid var(--color_gray_lighter);
      }

      .picture {
        border-radius: 50%;
        height: 24px;
        width: 24px;
      }

      .name {
        margin-left: 10px;
      }

      &:hover {
        background-color: #f5f5f5;
      }
    }
    .noResult {
      display: flex;
      align-items: center;
      justify-content: center;
      font-style: italic;
      height: 74px;
      span {
        color: #8e8e8e;
      }
    }
  }
  .selected-speakers {
    display: inline-flex;
    flex-wrap: wrap;
    width: calc(100% + 6px);
    div {
      border-radius: 16px;
      height: 36px;
      border: 1px solid var(--color_text_light);
      padding: 6px 10px 6px 7px;
      margin: 10px 10px 0 0;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      background-color: var(--color_text_light);
      .picture {
        border-radius: 50%;
        height: 24px;
      }
      .name {
        margin: 0 8px;
      }
      i {
        font-size: 14px;
        margin-top: -1px;
      }
    }
  }
}
