.tag-button {
    border-radius: 16px;
    background-color: white;
    border: 1px solid #eaeaea;
    padding: 6px 12px;
    display: inline-flex;
    margin-right: 6px;
    margin-bottom: 6px;
    align-items: baseline;
    height: 34px;
    overflow: hidden;

    .title {
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 500;
    }

    .quantity {
        font-size: 10px;        
        margin-bottom: 1px;
    }
    &:hover {
        border: 1px solid var(--color_text_dark);
    }

    &.active {
        border: 1px solid #4A4A4A;
    }
}