.tagButton {
    border-radius: 15px;
    background-color: white;
    color: var(--color_primary);   
    border: 1px solid #f1f2f2;    
    padding: 2px 13px;
    display: inline-flex;
    margin-right: 5px;
    align-items: baseline;

    .title {
        font-size: 14px;
        text-transform: capitalize;
    }

    .quantity {
        font-size: 10px;        
        margin-bottom: 1px;
    }

    &Active {
        border: 1px solid black;
    }
}