.outerWrapper {
  position: relative;
  min-height: 300px;

  :global(.ajax-loader-container) {
    > div {
      top: 40% !important;
    }
  }

  .header {
    .title {
      color: var(--color_text_dark);
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  .innerWrapper {
    color: var(--color_text_dark);
  }
}

.link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@media(max-width: 768px) {
  .outerWrapper {
    .viewOptions {
      .groupingNav {
        :global(.dropdown) {
          ul {
            position: absolute;
            float: none;
            margin-top: 0;
            background-color: var(--color_background_light);
            border: 1px solid var(--color_text_light);
            width: 100%;
          }
        }
      }
    }
  }
}

@media(min-width: 1440px) {}