.wrapper {
  border-bottom: 1px solid #eee;

  .title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 0;
    background-color: #0000;
    cursor: pointer;
    line-height: 50px;
    span {
      font-weight: 500;
      font-size: 16px;
    }
    i {
      font-size: 14px;
      line-height: 50px;
    }
  }
}
