.wrapper {
  background-color: inherit;
  padding: 16px;
  
  .searchInput {
    display: flex;
    align-content: center;
    justify-content: space-between;
    color: var(--color_input_text_color);
    background-color: var(--color_input_background_color);
    border: 1px solid var(--color_input_border_color);
    border-radius: 6px;
    height: 39px;
    input {
      border: none;
      background-color: transparent;
      font-size: 14px;
      padding: 0 15px;
      width: 100%;
      &::placeholder {
        color: #8e8e8e;
      }
      &:focus {
        outline: none;
        &::placeholder {
          color: var(--color_text_dark);
        }
      }
    }
    i {
      font-size: 18px;
      padding: 10px 15px 0 0;
      color: #8e8e8e;
      cursor: pointer;
      &.focus {
        color: var(--color_text_dark);
      }
    }
  }

  .dropdown {
    margin-top: 6px;
    color: var(--color_input_text_color);
    background-color: var(--color_input_background_color);
    border: 1px solid var(--color_input_border_color);
    border-radius: 4px;
    max-height: 132px;
    overflow: auto;
    box-shadow: 0 8px 10px rgba(0,0,0,0.1);

    .item {
      padding: 6px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:not(:last-of-type) {
        border-bottom: 1px solid #f2f2f2;
      }

      .picture {
        border-radius: 50%;
        height: 24px;
        width: 24px;
      }

      .name {
        margin-left: 10px;
      }

      &:hover {
        color: var(--color_text_light);
        background-color: var(--color_gray_darker);
      }
    }
    .noResult {
      display: flex;
      align-items: center;
      justify-content: center;
      font-style: italic;
      height: 74px;
      span {
        color: #8e8e8e;
      }
    }
  }
  .selected {
    padding-top: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: -6px 0 0 -6px;
    width: calc(100% + 6px);

    div {
      border-radius: 18px;
      border: 1px solid var(--color_text_light);
      padding: 6px 10px 6px 7px;
      margin: 6px 0 0 6px;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      background-color: var(--color_gray_darker);
      color: var(--color_text_light);
      .picture {
        border-radius: 50%;
        height: 24px;
      }
      .name {
        margin: 0 8px;
      }
      i {
        font-size: 14px;
        margin-top: -1px;
      }
    }
  }
}
